.container404 {
  background-size: 97% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(0deg, #000000ff 31%, #ff8a07ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  height: 100vh;
}

.container404 > img {
    max-width: 15em;
}

.container404 > a {
    color: #ff8a07ff;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #ff8a07ff;
    padding: 10px;
    border-radius: 10px;
    transition: color .5s, background-color .5s, font-weight .5s;
}

.container404 > a:hover {
    color: #000;
    background-color: #ff8a07ff;
    font-weight: bold;
}