.form-proyect {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5;
}

.form-proyect > .card {
    width: 30em;
    box-shadow: 4px 4px 9px #000;
}

.card > h2 {
    margin-bottom: 0;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
}

.input-group {
    height: 50px;
}

form {
    z-index: 0;
}